#content
%h1 The Main Page
  %p
  Welcome Advisor, here are the students under your command
  %p
  And these are links to all of their completed plans
 
  #side_bar
  %h1 Side Bar
    %p
    This is the side bar of the webpage

    #footer
    %p
      ©Citadel 1337 Squad
