#content
%h1 The Advisor Page
%p
Welcome #{current_user.name}, here are all the students who have complete course plans
%p

%table#my_students
  %head
    %tr
      %th Name    
      %th Email
  %tbody
    - @my_students.each do |student|
      %tr
        %td= student.name
        %td= student.email

And these are links to all of their completed plans
