!!!
%html
  %head
    %title My Sinatra Website
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")
  %body
    #wrapper
      #header
        %h1 Course Planner
        %h2 Welcome to The Citadel's 2015 Course Planner Online Web Application!
      #nav
        %ol
          %a(href="/")
            %li Home
          %a(href="register/new")
            %li Register
          %a(href="sessions/login")
            %li Login
      #content
        %h1 The Home Page
        %p
          Welcome to my website made with Sinatra and HAML.
        %p
          This is the home page and this is some text to fill out the home page!
 
      #side_bar
        %h1 Side Bar
        %p
          This is the side bar of the webpage
 
      #footer
        %p
          ©Citadel 1337 Squad