#content
%h1 The Home Page
%p
Please register if you are a new user, otherwise login click the login button above.
 
#side_bar
%h1 Side Bar
%p
This is the side bar of the webpage
 
#footer
%p
©Citadel 1337 Squad