%h1 The Login Page
%p
Login with your email below
%p
This is the login page!
#content
= form_tag '/login' do
  = field_set_tag do
  = text_field_tag :email
  = submit_tag 'Submit'
#side_bar
%h1 Side Bar
%p
This is the side bar of the webpage