%h1 The Register Page
%p
Register for some classes Yo
%p
This is the register page and this is some text to fill out the register page!
#content

 
  #side_bar
  %h1 Side Bar
  %p
  This is the side bar of the webpage
 
  #footer
  %p
  ©Citadel 1337 Squad